In [3]:
# Cosine Similarity (range : -1(opposite direction) to 1(same direction))
from numpy import dot
from numpy.linalg import norm
import numpy as np

def cos_sim(a,b):
    return dot(a,b)/(norm(a)*norm(b))

In [4]:
doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

In [5]:
cos_sim(doc1,doc2)

0.6666666666666667

In [16]:
cos_sim(doc3,doc1)

0.6666666666666667

In [18]:
cos_sim(doc2,doc3)

1.0000000000000002

In [19]:
# Recommendation using similarity method
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

data = pd.read_csv('input/06_movies_metadata.csv', low_memory=False)
data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [20]:
type(data.head(5))

pandas.core.frame.DataFrame

In [21]:
data['overview'].isnull().sum()

954

In [22]:
data['overview'] = data['overview'].fillna('')

In [23]:
data['overview'].isnull().sum()

0

In [24]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(45466, 75827)

In [25]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [26]:
cosine_sim

array([[1.        , 0.01504121, 0.        , ..., 0.        , 0.00595453,
        0.        ],
       [0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
        0.00929411],
       [0.        , 0.04681953, 1.        , ..., 0.        , 0.01402548,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.00595453, 0.02198641, 0.01402548, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.00929411, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [27]:
indices = pd.Series(data.index,index=data['title']).drop_duplicates()
indices.head

<bound method NDFrame.head of title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64>

In [28]:
data.index, data.values

(RangeIndex(start=0, stop=45466, step=1),
 array([['False',
         "{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",
         '30000000', ..., False, 7.7, 5415.0],
        ['False', nan, '65000000', ..., False, 6.9, 2413.0],
        ['False',
         "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",
         '0', ..., False, 6.5, 92.0],
        ...,
        ['False', nan, '0', ..., False, 3.8, 6.0],
        ['False', nan, '0', ..., False, 0.0, 0.0],
        ['False', nan, '0', ..., False, 0.0, 0.0]], dtype=object))

In [31]:
idx = indices['Father of the Bride Part II']
idx

4

In [32]:
type(data.values)

numpy.ndarray

In [33]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    
    return data['title'].iloc[movie_indices]

In [35]:
data['title'].iloc[1]

'Jumanji'

In [36]:
get_recommendations('The Dark Knight Rises')

12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object

In [37]:
# Euclidean distance 
import numpy as numpy
def dist(x,y):
    return np.sqrt(np.sum((x-y)**2))

In [38]:
doc1 = np.array((2,3,0,1))
doc2 = np.array((1,2,3,1))
doc3 = np.array((2,1,2,2))
docQ = np.array((1,1,0,1))

print(dist(doc1,docQ))
print(dist(doc2,docQ))
print(dist(doc3,docQ))

2.23606797749979
3.1622776601683795
2.449489742783178

In [40]:
# Jaccard Similarity : range between 0 and 1
# J(doc1,doc2)=doc1 ∩ doc2 / doc1 ∪ doc2
doc1 = "apple banana everyone like likey watch card holder"
doc2 = "apple banana coupon passport love you"

tokenized_doc1 = doc1.split()
tokenized_doc2 = doc2.split()

print(tokenized_doc1)
print(tokenized_doc2)

['apple', 'banana', 'everyone', 'like', 'likey', 'watch', 'card', 'holder']
['apple', 'banana', 'coupon', 'passport', 'love', 'you']

In [41]:
union = set(tokenized_doc1).union(tokenized_doc2)
union

{'apple',
 'banana',
 'card',
 'coupon',
 'everyone',
 'holder',
 'like',
 'likey',
 'love',
 'passport',
 'watch',
 'you'}

In [42]:
intersection = set(tokenized_doc1).intersection(tokenized_doc2)
intersection

{'apple', 'banana'}

In [43]:
len(intersection)/len(union)

0.16666666666666666